/*----------------------------------------------------------------------------------
	CSS Reset
----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 300;
	vertical-align: baseline;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	color: #ffffff;  
	}
	
a { text-decoration: none; }	


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
	
img { width: 100%; display: block; height: auto; }


/*----------------------------------------------------------------------------------
	Globals
----------------------------------------------------------------------------------*/

html, body { height: 100%; width: 100%; }

body { width: 100%; background: #fff; font-size: 100%; line-height: 1.2em; }


.head { 
	position: fixed; top: 0; left: 0; 
	width: 17.5%;
	padding-top: 4%;	
	background: #7da7d1;
	height: 100%;
	display: block;
	z-index: 1000;
	}

.content {
	float: left;
	width: 82.5%;
	height: 100%; 
	display: block;
	margin-left: 17.5%;
}


.contact-content { background: #7da7d1; }

}

.hero { 
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;		
}

.hero .section { position: absolute; top: 6%; color: #fff; }

.hero .section p, .study-image p { color: #fff; }

.study-image { 
	min-height: 1px;
	padding-bottom: 25.4%;
	width: 100%;
	}

h1 {
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	font-size: 3.25em; line-height: 1em;
	margin-bottom: 0.2em;
}

h2 {
	font-family: 'Varela Round', sans-serif;
	color: #7da7d1;
	font-size: 18px;
	margin-bottom: 4px;
}

.desktop-logos h2, .phone-logos h2, .study-logo-wrap h2 { color: #fff; }

p {
	font-size: 0.8125em;
	line-height: 1.6154em;	
	margin-bottom: 0.5em;
}

p span { font-weight: 600; }

.button {
	float: left; clear: left;
	margin-top: 4%;	
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	font-size: 0.875em; line-height: 1em;
	padding: 10px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	border: 1px solid #7da7d1;	
}

.button:hover { background: #7da7d1; }


/* Logos on Hero Images */

.hero .desktop-logos {
	position: absolute;
	bottom: 10%;
	width: 100%;
	height: auto;	
}

.hero .desktop-logos .section {
	position: static;
	max-width: 1050px;
}

/*----------------------------------------------------------------------------------
	Grid Column Set-up
----------------------------------------------------------------------------------*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	width: 80%;
	margin-left: 10%;
	float: left;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}

.col:first-child { margin-left: 0; }

.span_6 { width: 100%; }
.span_5 { width: 82.66%; }
.span_4 { width: 65.33%; }
.span_3 { width: 48%; }
.span_2 { width: 30.66%; }
.span_1 { width: 13.33%; }



/*----------------------------------------------------------------------------------
	Left Sidebar
----------------------------------------------------------------------------------*/


.logo { 
	float: left;
	width: 55%; 
	margin: 0 0 15% 15%;
	display: block; 
	
}

.logo img { width: 100%; }

.logo img:hover { opacity: 0.7; }

#nav { 
	margin-left: 15%; list-style-type: none; 
	float: left; clear: left;
	}

#nav li { padding-bottom: 12px; }


#nav li a {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}

#nav li a:hover { color: #4D4E50; }
#nav li a.active { color: #4D4E50; }

.desktop-footer h4, .desktop-footer p, .mobile-footer h4, .mobile-footer p { color: #fff; }

.desktop-footer h4 {
	font-family: 'Varela Round', sans-serif; 
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 40%;
}

.desktop-footer p { margin-bottom: 7px; }

.desktop-footer p a, .mobile-footer p a { color: #fff; }
.desktop-footer p a:hover, .mobile-footer p a:hover { color: #4D4E50; }

.desktop-footer { 
	position: absolute; left: 15%; bottom: 10%;	
	width: 70%;
}

.social {
	width: 100%;
	margin-top: 10%;
	float: left;
}

.social img { width: 20%; margin-right: 5%; float: left; opacity: 0.7; }

.social img:hover { opacity: 1; }

.strapline { width: 75%; margin: 20% 0 20% 0; float: left; }
.head .copyright { font-size: 10px; line-height: 14px; clear: left; color: #C6E8E4; }



/*----------------------------------------------------------------------------------
	Home Page
----------------------------------------------------------------------------------*/

.home-image {
	background: url(../img/night-cycling.jpg) no-repeat;
	background-size: cover;
	background-position: 0 50%;
}

.home-image .span_3 { width: 60%; }

/*----------------------------------------------------------------------------------
	About Us
----------------------------------------------------------------------------------*/

.about-image {
	background: url(../img/service.jpg) no-repeat;
	background-size: cover;
	background-position: 0 50%;
}

.about { margin-top: 5%; margin-bottom: 2%; position: relative; }

#about { position: absolute; top: -7.5%; display: block; min-height: 1px; }

.about p { margin-bottom: 5%; }

.testimonial {
	font-weight: 200;
	font-size: 32px;
	line-height: 42px;
}

.dotted {
	width: 100%;
	float: left;
	margin: 4% 0 5% 0;
}

.search {
	float: left;
	clear: left;
	padding-bottom: 7%;
}

.phase {
	float: left;
	width: 25%;
}

.phase h3, .phase p { width: 75%; }

.phase h3 {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}


/*----------------------------------------------------------------------------------
	Meet the Team
----------------------------------------------------------------------------------*/

.team-image {
	background: url(../img/who-we-really-are.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.team-image .section { top: 35%; }

.profile { margin-top: 6%; margin-bottom: 10%; }

.profile div { position: relative; margin-bottom: 20px; }

.profile div span { 
	position: absolute; bottom: 0; left: 0;
	display: block;
	background: #7da7d1;	
}

.profile div h3 { 
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	font-size: 21px; line-height: 21px;
	padding: 8px 15px 8px 15px;	
}

/*----------------------------------------------------------------------------------
	Case Studies Page
----------------------------------------------------------------------------------*/

.case-study-image {
	background: url(../img/job-done.jpg) no-repeat;
	background-size: cover;
	background-position: 0 50%;
}


/*----------------------------------------------------------------------------------
	Individual Case Studies Page
----------------------------------------------------------------------------------*/

.study-title h1, .study-title p {
	width: 100%;
	text-align: center;
}

.study-title h1 { 
	margin: 10% 0 1% 0; 
	}
	
.study-title p { font-size: 1em; }	

.coke-image, .photobox-image, .audio-image, .bodyshop-image, .zalando-image, .thomas-image, .holland-image, .secret-image {
	background-size: cover;
	background-position: 0	0;	
}

.coke-image { background: url(../case-studies/img/case-study-coca-cola.jpg) no-repeat; background-size: cover; }
.photobox-image { background: url(../case-studies/img/case-study-photobox.jpg) no-repeat; background-size: cover; }
.audio-image { background: url(../case-studies/img/case-study-audio-network.jpg) no-repeat; background-size: cover; }
.bodyshop-image { background: url(../case-studies/img/case-study-bodyshop.jpg) no-repeat; background-size: cover; }
.zalando-image { background: url(../case-studies/img/case-study-zalando.jpg) no-repeat; background-size: cover; }
.thomas-image { background: url(../case-studies/img/case-study-thomas-cook.jpg) no-repeat; background-size: cover; }
.holland-image { background: url(../case-studies/img/case-study-holland-barrett.jpg) no-repeat; background-size: cover; }
.secret-image { background: url(../case-studies/img/case-study-secret-escapes.jpg) no-repeat; background-size: cover; }


.study-copy { margin-top: 5%; margin-bottom: 4%; }

.study-logo-wrap {
	width: 100%;
	float: left; clear: left;
	background: #8CB8D4;
	padding: 3% 0 5% 0;
}

.study-logo-wrap h2 { float: left; margin: 2% 0 1% 0%; }

.logos { float: left; }

.logos div {
	float: left;
	width: 23%;
	margin: 0% 2% 0% 0;
}

.logos .logo-adjust { margin-left: -2.5%; }

.logos div a {
	font-size: 0.8125em;
	line-height: 1em;
	color: #fff;
}

.logos div a img { margin-bottom: 2.5%; }

.logos div a span { font-family: 'Varela Round', sans-serif; color: #fff; font-size: 0.95em; } 

.logos div a:hover, .logos div a img:hover { opacity: 0.6; }



/*----------------------------------------------------------------------------------
	Digital Insight Page
----------------------------------------------------------------------------------*/

.insight-image {
	background: url(../img/digital-insight.jpg) no-repeat;
	background-size: cover;
	background-position: 0	0;
	padding-bottom: 30%;	
}

.insight-image .study-title p { width: 60%; margin-left: 20%; font-size: 0.8125em; line-height: 1.6154em;  }

.col p a:hover { color: #7da7d1; }

.moves {
	list-style-type: none;
	margin-top: 10%;
}

.moves li {
	font-size: 0.8125em; line-height: 1.6154em; padding-bottom: 1%;
}

.moves li span { font-weight: 600; } 

.blog-copy p { clear: left; }
.blog-copy { padding-bottom: 7.5%; }

.blog-sign-off { width: 30%; float: left; margin-top: 4%; clear: both; }
.blog-sign-off-name { margin-top: 4%; clear: left; }

.post { float: left; margin-bottom: 12%; }
.post img { float: left; }
.first-img { margin-top: 10%; }
.full-width { width: 98%; }
.img-pair { width: 48%; margin: 2% 2% 2% 0; }



/*----------------------------------------------------------------------------------
	Contact Page
----------------------------------------------------------------------------------*/

.contact-image {
	background: url(../img/contact-us.jpg) no-repeat;
	background-size: cover;
	background-position: 0 50%;
}

.phone-landscape { display: none; }

.phone-landscape-hide { float: left; margin: 5% 0 5% 0; }
.phone-landscape-hide span { color: #fff; font-weight: 600; }
.phone-landscape-hide a { color: #fff; }
.phone-landscape-hide a:hover { color: #7da7d1; }


/*----------------------------------------------------------------------------------
	Logos on Home, About and Case Study Pages
----------------------------------------------------------------------------------*/


@media screen and (min-width: 801px) {
	
	.phone-logos { display: none; }

}

@media screen and (max-width: 800px) {
	
	.desktop-logos { display: none; }

}
img-responsive, .figure > img, .carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 0.3rem; }

.img-thumbnail {
	clear: both;
  padding: 0.25rem;
  line-height: 2;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 75%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .container:before,
  .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 34em) {
    .container {
      max-width: 34rem; } }
  @media (min-width: 48em) {
    .container {
      max-width: 45rem; } }
  @media (min-width: 62em) {
    .container {
      max-width: 60rem; } }
  @media (min-width: 75em) {
    .container {
      max-width: 72.25rem; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  /*padding-right: 0.9375rem;*/ }
  .container-fluid:before,
  .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -0.9375rem;
  /*margin-right: -0.9375rem;*/ }
  .row:before,
  .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 34em) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.3333333333%; }
  .col-sm-2 {
    width: 16.6666666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.3333333333%; }
  .col-sm-5 {
    width: 41.6666666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.3333333333%; }
  .col-sm-8 {
    width: 66.6666666667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.3333333333%; }
  .col-sm-11 {
    width: 91.6666666667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.3333333333%; }
  .col-sm-pull-2 {
    right: 16.6666666667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.3333333333%; }
  .col-sm-pull-5 {
    right: 41.6666666667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.3333333333%; }
  .col-sm-pull-8 {
    right: 66.6666666667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.3333333333%; }
  .col-sm-pull-11 {
    right: 91.6666666667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.3333333333%; }
  .col-sm-push-2 {
    left: 16.6666666667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.3333333333%; }
  .col-sm-push-5 {
    left: 41.6666666667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.3333333333%; }
  .col-sm-push-8 {
    left: 66.6666666667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.3333333333%; }
  .col-sm-push-11 {
    left: 91.6666666667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 48em) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.3333333333%; }
  .col-md-2 {
    width: 16.6666666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.3333333333%; }
  .col-md-5 {
    width: 41.6666666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.3333333333%; }
  .col-md-8 {
    width: 66.6666666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.3333333333%; }
  .col-md-11 {
    width: 91.6666666667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.3333333333%; }
  .col-md-pull-2 {
    right: 16.6666666667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.3333333333%; }
  .col-md-pull-5 {
    right: 41.6666666667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.3333333333%; }
  .col-md-pull-8 {
    right: 66.6666666667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.3333333333%; }
  .col-md-pull-11 {
    right: 91.6666666667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.3333333333%; }
  .col-md-push-2 {
    left: 16.6666666667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.3333333333%; }
  .col-md-push-5 {
    left: 41.6666666667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.3333333333%; }
  .col-md-push-8 {
    left: 66.6666666667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.3333333333%; }
  .col-md-push-11 {
    left: 91.6666666667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 62em) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.3333333333%; }
  .col-lg-2 {
    width: 16.6666666667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.3333333333%; }
  .col-lg-5 {
    width: 41.6666666667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.3333333333%; }
  .col-lg-8 {
    width: 66.6666666667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.3333333333%; }
  .col-lg-11 {
    width: 91.6666666667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.3333333333%; }
  .col-lg-pull-2 {
    right: 16.6666666667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.3333333333%; }
  .col-lg-pull-5 {
    right: 41.6666666667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.3333333333%; }
  .col-lg-pull-8 {
    right: 66.6666666667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.3333333333%; }
  .col-lg-pull-11 {
    right: 91.6666666667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.3333333333%; }
  .col-lg-push-2 {
    left: 16.6666666667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.3333333333%; }
  .col-lg-push-5 {
    left: 41.6666666667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.3333333333%; }
  .col-lg-push-8 {
    left: 66.6666666667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.3333333333%; }
  .col-lg-push-11 {
    left: 91.6666666667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 75em) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }
  .col-xl-1 {
    width: 8.3333333333%; }
  .col-xl-2 {
    width: 16.6666666667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.3333333333%; }
  .col-xl-5 {
    width: 41.6666666667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.3333333333%; }
  .col-xl-8 {
    width: 66.6666666667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.3333333333%; }
  .col-xl-11 {
    width: 91.6666666667%; }
  .col-xl-12 {
    width: 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.3333333333%; }
  .col-xl-pull-2 {
    right: 16.6666666667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.3333333333%; }
  .col-xl-pull-5 {
    right: 41.6666666667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.3333333333%; }
  .col-xl-pull-8 {
    right: 66.6666666667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.3333333333%; }
  .col-xl-pull-11 {
    right: 91.6666666667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.3333333333%; }
  .col-xl-push-2 {
    left: 16.6666666667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.3333333333%; }
  .col-xl-push-5 {
    left: 41.6666666667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.3333333333%; }
  .col-xl-push-8 {
    left: 66.6666666667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.3333333333%; }
  .col-xl-push-11 {
    left: 91.6666666667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }
  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }
  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }
  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }
  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #424753;
  background-color: #fff;
  background-image: none;
  border: 0.0625rem solid #e0e0e5;
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    border-color: #6c59b4;
    outline: none; }
  .form-control::-webkit-input-placeholder {
    color: #999;
    opacity: 1; }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999;
    opacity: 1; }
  .form-control::placeholder {
    color: #999;
    opacity: 1; }
  .form-control:disabled,
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eceeef;
    opacity: 1; }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed; }

.form-control-file,
.form-control-range {
  display: block; }

.form-control-label {
  padding: 0.4375rem 0.75rem;
  margin-bottom: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 2.875rem; }
  input[type="date"].input-sm,
  .input-group-sm input[type="date"].form-control,
  input[type="time"].input-sm,
  .input-group-sm input[type="time"].form-control,
  input[type="datetime-local"].input-sm,
  .input-group-sm input[type="datetime-local"].form-control,
  input[type="month"].input-sm,
  .input-group-sm input[type="month"].form-control {
    line-height: 1.95rem; }
  input[type="date"].input-lg,
  .input-group-lg input[type="date"].form-control,
  input[type="time"].input-lg,
  .input-group-lg input[type="time"].form-control,
  input[type="datetime-local"].input-lg,
  .input-group-lg input[type="datetime-local"].form-control,
  input[type="month"].input-lg,
  .input-group-lg input[type="month"].form-control {
    line-height: 4.125rem; } }

.form-control-static {
  min-height: 2.875rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  margin-bottom: 0; }
  .form-control-static.form-control-sm,
  .form-control-static.form-control-lg {
    padding-right: 0;
    padding-left: 0; }

.form-control-sm {
  padding: 0.275rem 0.75rem;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 0.25rem; }

.form-control-lg {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 2;
  border-radius: 0.25rem; }

.form-group {
  margin-bottom: 15px; }
.tagline
{
color: #eeeeee;
}